body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: rgb(133, 243, 106);
    margin: 0;
    padding: 0;
    height: 45px;
    display: flex;
    align-items: center
}

i {
    color: aliceblue;
}

.user {
    background-color: grey;
    border-radius: 50%;
    padding: 5px;
    margin: 0px 5px 0px 0px;
}

nav>ul {
    width: 100%;
    padding: 0%;
    list-style: none;
    margin: 0%;
    display: flex;
    justify-content: space-between;
}

nav>ul>div {
    display: flex;
}

div>li {
    margin: 5px;
    font-size: 21px;
}

body {
    margin: 0;
}

.nav-a {
    color: aliceblue;
    text-decoration: none;
}

footer {
    background-color: rgb(133, 243, 106);
    margin: 0;
    padding: 0;
    height: 45px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

footer>ul {
    width: 100%;
    padding: 0%;
    list-style: none;
    margin: 0%;
    display: flex;
    justify-content: space-around;
}

footer>ul>li {
    color: rgb(56, 56, 56);
}

footer>ul>li>a {
    color: rgb(56, 56, 56);
    text-decoration: none;
}

.redes {
    list-style: none;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main>div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}